/*h2:hover{
	color: red;
}

h2[class=subtitle]{
	color: blue;
}

#services{
	color: green;
}
*/
/*li:first-child{
	color: orange;
}
li:nth-child(2){
	color: yellow;
}
li:nth-child(3){
	color: pink;
}*/

/*#google-link:link {
	color: blue;
}
#google-link:visited {
	color: red;
}*/
/*
h2 + a {
	color: red;
}

textarea ~ button{
	color: brown;
}

form + button{
	color: yellow;
}

ul > li {
	color: blue;
}
ul li {
	color: green;
}

img[src^="../img/"]{
	border: 10px solid black ;
}
/*
h2[class~=article-subtitle]{
	background: green;
}
*/
/*
h2[class|=article-subtitle]{
	background: green;
}
*/

/*CSS General Rules

Selector - CSS Block({}}) - Properties	

- Selector is where you want to pick the properties
- CSS Block Is Where we Put the CSS properties or style
- Properties can be name of the style either colour, background and value
is for matching the properties depends on the porperties, we can have many properties


selector {
	property: value;
	property_2: value;
}
*/
/*
#title{
	color: #ba8509 ;
}
*/ 
/*
body{
	background: lightgoldenrodyellow ;
}
*/
body{
	background-color: lightgoldenrodyellow;
}
#title{
	color: rgb(186,133,9) ;
}

.subtitle{
	color: rgb(219,148,30); 
}
#service-image{
	height: 400px;
	width: 70%;

	background:url(../img/img-2.jpg);
	/*
	background-repeat: no-repeat;
	background-size: contain;
	*/
	background-size: cover;
	background-color: brown;

}